<h1>AirFit Dashboard</h1>
  <div class="entries">
    <div class="select-menu">
      <select class="select" onchange={{action "redirectToLocation" value="target.value"}}>
        {{#each locations as |loc|}}
          <option value="{{loc.zip}}" selected={{is-equal loc.zip zip_code}}>
            {{loc.name}}
          </option>
        {{/each}}
      </select>
    </div>
    <div class="entry entry--header">
      <div class="entry__date">Date</div>
      <div>% Exercised Outside</div>
      <div class="entry__aqi">AQI</div>
    </div>
    {{#each model as |observation|}}
      {{
        observation-progress-bar
          category=observation.category
          dateObserved=observation.dateObserved
          aqi=observation.aqi
          percentageOutside=activity.firstObject.percentageOutside
          inside=activity.firstObject.inside
          outside=activity.firstObject.outside
          parameterName=observation.parameterName
      }}
    {{/each}}
  </div>
{{outlet}}
